.login.login-container {
  display: flex;
  height: 100%;
  background: #f8feff;
}

.login.login-container > div:nth-child(1) {
  position: relative;
  clip-path: polygon(100% 0, 69% 50%, 81% 100%, 0% 100%, 0 50%, 0% 0%);
  width: 76%;
}

.login .form-contianer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login .form-contianer form {
  width: 100%;
}

.login .form-contianer .form-group {
  width: 100%;
}

.login .form-control:focus {
  border: 1px solid #6d6d6d;
}

.login-image .img-con {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.login-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(24, 206, 15, 0.1803921568627451);
}

.login-form {
  position: absolute;
  width: 30%;
  top: calc(100% * 0.4);
  right: 64px;
  /* transform: translate3d(calc(100vw * 0.5), calc(100vh * 0.43), 0); */
}
