.login.login-container {
  display: flex;
  height: 100%;
}

.login.login-container > div {
  width: 50%;
  position: relative;
}

.login .form-contianer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login .form-contianer form {
  width: 50%;
}

.login .form-contianer .form-group {
  width: 100%;
}

.login .form-control:focus {
  border: 1px solid #6d6d6d;
}

.login-image .img-con {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.login-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(24, 206, 15, 0.1803921568627451);
}
