.teal-theme {
  --primary-color: #00827c;
}

.blue-theme {
  --primary-color: #2185d0;
  --primary-btn-color:#1a69a4;
  --dark-primary-btn: #006ea2;
  --btn-success-color:#16ab39;
}

.ui.btn-blue.button, .ui.button{
    background-color: var(--primary-btn-color);
}