@font-face {
  font-family: "Open Sans";
  src: url(./theme/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./theme/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(./theme/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./theme/fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(./theme/fonts/Montserrat-Medium.ttf);
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
